{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   <title>My Page</title>
 </head>
 <body background="{% static 'assets/images/video-bg.jpg' %}">
   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">Trivandrum Junior College</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <a href="credentials/login">
         <input type="button" value="Start" name="start">
         </a>
         <li><a href="">Home</a></li>
         <li><a href="credentials/register">Register</a></li>
         <li><a href="credentials/login">Login</a></li>


         <li class="services">
           <a href="/">Departments</a>
           <!-- DROPDOWN MENU -->
           <ul class="dropdown">
             <li><a href="https://en.wikipedia.org/wiki/Science">Science </a></li>
             <li><a href="https://en.wikipedia.org/wiki/Commerce">Commerce</a></li>
             <li><a href="https://en.wikipedia.org/wiki/Humanities">Humanities</a></li>
             <li><a href="https://en.wikipedia.org/wiki/Art">Arts</a></li>
             <li><a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>
           </ul>
           <li><a href="credentials/logout">Logout</a></li>
         </li>

       </div>
     </ul>
   </nav>
 </body>
</html>



<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--  <head>-->

<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
<!--      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">-->

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <title>Grad School HTML5 Template</title>-->
<!--    -->
<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--&lt;!&ndash;    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">&ndash;&gt;-->

<!--    &lt;!&ndash; Additional CSS Files &ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">&ndash;&gt;-->


<!--  </head>-->
<!--&lt;!&ndash;  <body background=  "{% static 'assets/images/choosing-bg.jpg' %}">&ndash;&gt;-->
<!--<body>-->


<!--  <nav class="navbar navbar-dark bg-primary">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Register</a>-->
<!--        </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Login</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Department-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->


<!--          </ul>-->
<!--        </li>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->


<!--&lt;!&ndash;      <label class="logo"><h1></h1><b>JUNIOR COLLEGE</h1></b></label>&ndash;&gt;-->

<!--&lt;!&ndash;          <ul >&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">Register</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">Login</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">Department</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li><a href="#">Science</a> </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li><a href="#">Commerce</a> </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li><a href="#">Humanitis</a> </li>&ndash;&gt;-->

<!--&lt;!&ndash;              </ul>&ndash;&gt;-->

<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </nav>&ndash;&gt;-->


<!--      </body>-->
<!--</html>-->

<!--&lt;!&ndash;        						<ul class="navbar-nav mr-auto">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;									<li><a href="home.html">Home</a></li>&ndash;&gt;-->

<!--&lt;!&ndash;									{% if user.is_authenticated %}&ndash;&gt;-->
<!--&lt;!&ndash;									<li>Hello{{user.username}}</li><br><br>&ndash;&gt;-->
<!--&lt;!&ndash;									<li><a href="credentials/logout">Logout</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;									{% else %}&ndash;&gt;-->

<!--&lt;!&ndash;                                    <li><a href="credentials/register">Register</a></li></ul>&ndash;&gt;-->

<!--&lt;!&ndash;									<li><a href="credentials/login">Login</a></li>&ndash;&gt;-->

<!--&lt;!&ndash;									{% endif %}&ndash;&gt;-->


<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                              <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;                              <li class="has-submenu"><a href="#section2">Departments</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                <ul class="sub-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                                <li><a href="https://en.wikipedia.org/wiki/Science">Science</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li><a href="https://en.wikipedia.org/wiki/</div>Commerce">Commerce</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li><a href="https://en.wikipedia.org/wiki/Humanities">Humanities</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li><a href="https://en.wikipedia.org/wiki/Art">Arts</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                              </li>&ndash;&gt;-->


<!--&lt;!&ndash;                          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                              </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </nav>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;                      </nav>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;				</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;			</div>&ndash;&gt;-->
<!--&lt;!&ndash;		</div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;		<div class="header_social d-flex flex-row align-items-center justify-content-start">&ndash;&gt;-->
<!--&lt;!&ndash;			<ul class="d-flex flex-row align-items-start justify-content-start">&ndash;&gt;-->
<!--&lt;!&ndash;				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;				<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;				<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;				<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;			</ul>&ndash;&gt;-->
<!--&lt;!&ndash;		</div>&ndash;&gt;-->
<!--&lt;!&ndash;-->

<!--           <li><a href="https://templatemo.com/about" rel="sponsored" class="external">External URL</a></li>&ndash;&gt;-->
<!--        </body>-->
<!--        </li>-->

<!--&lt;!&ndash;         <li><a href="#section5">Video</a></li>&ndash;&gt;-->

<!--&lt;!&ndash;        <li><a href="https://templatemo.com" class="external">External</a></li>&ndash;&gt;-->

<!--&lt;!&ndash;      </nav>&ndash;&gt;-->
<!--         </header>-->
<!--&lt;!&ndash;    </header>&ndash;&gt;-->

<!--&lt;!&ndash;  <section class="section main-banner" id="top" data-section="section1">&ndash;&gt;-->
<!--&lt;!&ndash;      <video autoplay muted loop id="bg-video">&ndash;&gt;-->
<!--&lt;!&ndash;          <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />&ndash;&gt;-->
<!--&lt;!&ndash;      </video>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="video-overlay header-text">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="caption">&ndash;&gt;-->
<!--&lt;!&ndash;              <h6>Graduate School of Management</h6>&ndash;&gt;-->
<!--&lt;!&ndash;              <h2><em>Your</em> Classroom</h2>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="main-button">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="scroll-to-section"><a href="#section2">Discover more</a></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--&lt;!&ndash;      </body>&ndash;&gt;-->



<!--&lt;!&ndash;  <section class="features">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-lg-4 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="features-post">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="features-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="content-show">&ndash;&gt;-->
<!--&lt;!&ndash;                <h4><i class="fa fa-pencil"></i>All Courses</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="content-hide">&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="scroll-to-section"><a href="#section2">More Info.</a></div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-lg-4 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="features-post second-features">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="features-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="content-show">&ndash;&gt;-->
<!--&lt;!&ndash;                <h4><i class="fa fa-graduation-cap"></i>Virtual Class</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="content-hide">&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="scroll-to-section"><a href="#section3">Details</a></div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-lg-4 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="features-post third-features">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="features-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="content-show">&ndash;&gt;-->
<!--&lt;!&ndash;                <h4><i class="fa fa-book"></i>Real Meeting</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="content-hide">&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="scroll-to-section"><a href="#section4">Read More</a></div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->

<!--&lt;!&ndash;  <section class="section why-us" data-section="section2">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="section-heading">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2>Why choose Grad School?</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div id='tabs'>&ndash;&gt;-->
<!--&lt;!&ndash;            <ul>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href='#tabs-1'>Best Education</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href='#tabs-2'>Top Management</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a href='#tabs-3'>Quality Meeting</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            <section class='tabs-content'>&ndash;&gt;-->
<!--&lt;!&ndash;              <article id='tabs-1'>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'assets/images/choose-us-image-01.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4>Best Education</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>Grad School is free educational HTML template with Bootstrap 4.5.2 CSS layout. Feel free to use it for educational or commercial purposes. You may want to make <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a little donation</a> to TemplateMo. Please tell your friends about us. Thank you.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </article>&ndash;&gt;-->
<!--&lt;!&ndash;              <article id='tabs-2'>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'assets/images/choose-us-image-02.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4>Top Level</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>You can modify this HTML layout by editing contents and adding more pages as you needed. Since this template has options to add dropdown menus, you can put many HTML pages.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </article>&ndash;&gt;-->
<!--&lt;!&ndash;              <article id='tabs-3'>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'assets/images/choose-us-image-03.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4>Quality Meeting</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>You are NOT allowed to redistribute this template ZIP file on any template collection website. However, you can use this template to convert into a specific theme for any kind of CMS platform such as WordPress. For more information, you shall <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> now.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </article>&ndash;&gt;-->
<!--&lt;!&ndash;            </section>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->

<!--&lt;!&ndash;  <section class="section coming-soon" data-section="section3">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-7 col-xs-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="container centerIt">&ndash;&gt;-->
<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Take <em>any online course</em> and win $326 for your next class</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="counter">&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="days">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="value">00</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>Days</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="hours">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="value">00</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>Hours</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="minutes">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="value">00</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>Minutes</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="seconds">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="value">00</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>Seconds</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-5">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="right-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="top-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h6>Register your free account and <em>get immediate</em> access to online courses</h6>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <form id="contact" action="" method="get">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;                  <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">&ndash;&gt;-->
<!--&lt;!&ndash;                  </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;                  <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">&ndash;&gt;-->
<!--&lt;!&ndash;                  </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;                  <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="Your Phone Number" required="">&ndash;&gt;-->
<!--&lt;!&ndash;                  </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;                  <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="submit" id="form-submit" class="button">Get it now</button>&ndash;&gt;-->
<!--&lt;!&ndash;                  </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->

<!--&lt;!&ndash;  <section class="section courses" data-section="section4">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="section-heading">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2>Choose Your Course</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="owl-carousel owl-theme">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-01.jpg '%}" alt="Course #1">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Digital Marketing</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>You can get free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-01.png' %}" alt="Author 1">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-pay">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-02.jpg' %}" alt="Course #2">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Business World</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-02.png' %}" alt="Author 2">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-free">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-03.jpg' %}" alt="Course #3">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Media Technology</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-03.png' %}" alt="Author 3">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-pay">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-04.jpg' %}" alt="Course #4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Communications</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Download free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-04.png' %}" alt="Author 4">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-free">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-05.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Business Ethics</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-05.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-pay">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-01.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Photography</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-01.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-free">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-02.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Web Development</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-02.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-free">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-03.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Learn HTML CSS</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>You can get free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-03.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-pay">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-04.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Social Media</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-04.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-pay">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-05.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Digital Arts</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-05.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-free">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{% static 'assets/images/courses-01.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <h4>Media Streaming</h4>&ndash;&gt;-->
<!--&lt;!&ndash;              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="author-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="{% static 'assets/images/author-01.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-button-pay">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->


<!--&lt;!&ndash;  <section class="section video" data-section="section5">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-6 align-self-center">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="left-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <span>our presentation is for you</span>&ndash;&gt;-->
<!--&lt;!&ndash;            <h4>Watch the video to learn more <em>about Grad School</em></h4>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>You are NOT allowed to redistribute this template ZIP file on any template collection website. However, you can use this template to convert into a specific theme for any kind of CMS platform such as WordPress. You may <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> for details.&ndash;&gt;-->
<!--&lt;!&ndash;            <br><br>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External URL</a></div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          <article class="video-item">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;            <div class="video-caption">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;              <h4>Power HTML Template</h4>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <figure>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"><img src="assets/images/main-thumb.png"></a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </figure>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          </article>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->

<!--&lt;!&ndash;  <section class="section contact" data-section="section6">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="section-heading">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2>Let’s Keep In Touch</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-6">&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Do you need a working HTML contact-form script?&ndash;&gt;-->

<!--&lt;!&ndash;                    Please visit https://templatemo.com/contact page &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;          <form id="contact" action="" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                  <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">&ndash;&gt;-->
<!--&lt;!&ndash;                  </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                  <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">&ndash;&gt;-->
<!--&lt;!&ndash;                  </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;                <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;                <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="submit" id="form-submit" class="button">Send Message Now</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <div id="map">&ndash;&gt;-->
<!--&lt;!&ndash;            <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->

<!--&lt;!&ndash;  <footer>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <p><i class="fa fa-copyright"></i> Copyright 2020 by Grad School&ndash;&gt;-->

<!--&lt;!&ndash;           | Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">TemplateMo</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </footer>&ndash;&gt;-->

<!--&lt;!&ndash;  &lt;!&ndash; Scripts &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>&ndash;&gt;-->

<!--&lt;!&ndash;    <script src="{% static 'assets/js/isotope.min.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'assets/js/lightbox.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'assets/js/tabs.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'assets/js/video.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'assets/js/slick-slider.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="{% static 'assets/js/custom.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        //according to loftblog tut&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        $('.nav li:first').addClass('active');&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        var showSection = function showSection(section, isAnimate) {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          var&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          direction = section.replace(/#/, ''),&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          reqSection = $('.section').filter('[data-section="' + direction + '"]'),&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          reqSectionPos = reqSection.offset().top - 0;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;          if (isAnimate) {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            $('body, html').animate({&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              scrollTop: reqSectionPos },&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            800);&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          } else {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            $('body, html').scrollTop(reqSectionPos);&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          }&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        };&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        var checkSection = function checkSection() {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          $('.section').each(function () {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            var&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            $this = $(this),&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            topEdge = $this.offset().top - 80,&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            bottomEdge = topEdge + $this.height(),&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            wScroll = $(window).scrollTop();&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            if (topEdge < wScroll && bottomEdge > wScroll) {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              var&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              currentId = $this.data('section'),&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              reqLink = $('a').filter('[href*=\\#' + currentId + ']');&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              reqLink.closest('li').addClass('active').&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              siblings().removeClass('active');&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            }&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          });&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        };&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          if($(e.target).hasClass('external')) {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            return;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          }&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          e.preventDefault();&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          $('#menu').removeClass('active');&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          showSection($(this).attr('href'), true);&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        });&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        $(window).scroll(function () {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          checkSection();&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        });&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </script>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</body>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</html>&ndash;&gt;&ndash;&gt;-->
































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































